{% extends "SiteFrontendBundle::layout.html.twig" %}
{% block content %}
    <div class="container">
        <div class="container-404">
            <h1>
                <div>ошибка</div>
                <div class="bigger">404!</div>
            </h1>
            <div class="text-container-404">
                запрашиваемая вами страница не найдена!
            </div>
        </div>
    </div>
{% endblock content %}
{% block seo %}
    <title>Извините, запрашиваемая вами страница не найдена..</title>
{% endblock %}