{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
    {% if value|length > 0 %}
        {% for item in value %}
            <p class="tag-show">{{ item.title }}</p>
        {% endfor %}
    {% endif %}
{% endblock field %}