# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: uvelife
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: mail.ukraine.com.ua
    mailer_user: no-reply@uvelife.com
    mailer_password: 0b1r2e3d45vasja
    secret: ThisTokenIsNotSoSecretChangeIt
