<div class="mail-content-container">
    <p>Здравствуйте!</p>
    <br>
    <h3>КОНТАКТНЫЕ ДАННЫЕ:</h3>
    <table class="no-border">
        <tr>
            <td><label>ФИО:</label></td>
            <td>&nbsp;{{ entity.name }}</td>
        </tr>
        <tr>
            <td><label>Телефон:</label></td>
            <td>&nbsp;{{ entity.phone }}</td>
        </tr>
    </table>
</div>