<div class="default-popular-item serach-result">
    <div class="index-product-preview-image">
        <div class="index-product-preview-outer-wrapper">
            <div class="index-product-preview-inner-wrapper">
                <a href="{{ url }}">
                    <img alt="Ювелирный интернет-магазин серебряных украшений Ювелир Лайф" src="{{ (item.poster)?item.poster|json_decode.small:asset("bundles/sitefrontend/images/main/no-image.png") }}">
                </a>
            </div>
        </div>
    </div>
    <div class="index-product-title">
        <span>{{ item.title }}</span>
    </div>
</div>