{% extends admin.getTemplate('base_list_field') %}
{% block field %}
    {% if value|length %}
        {% for item in value %}
            <div>{{ item.cod }} - {{ item.title }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}