<div class="container no-padding">
    <div class="navbar-head-top-section-wrapper">
        <div class="navbar-head-logo">
            <a href="{{ path('site_frontend_homepage') }}">
                <img src="{{ asset("bundles/sitefrontend/images/main/logo.svg") }}"/>
            </a>
        </div>
        <div class="fixed-menu-wrapper">
            <div class="fixed-menu-inner-wrapper">
                <div class="navbar-head-search-section">
                    <div id="navbar-contacts">
                        <button type="button" class="head-mobile-button">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-contacts-links-wrapper">
                            <a class="navbar-contacts-item">
                                о нас
                            </a>
                            <a class="navbar-contacts-item">
                                новости
                            </a>
                            <a class="navbar-contacts-item">
                                доставка
                            </a>
                            <a class="navbar-contacts-item">
                                оплата
                            </a>
                            <a class="navbar-contacts-item">
                                озывы
                            </a>
                            <a class="navbar-contacts-item">
                                контакты
                            </a>
                        </div>
                        <div class="navbar-contacts-vk-widget">
                            <img src="{{ asset("bundles/sitefrontend/images/main/top-vk-widget.png") }}">
                        </div>
                        <div class="search-input-wrapper">
                            <div class="custom-search-input search-input-inner">
                                <div class="input-group col-md-12">
                                    <input class="search-input-item" type="text"  placeholder="Я ИЩУ..." />
                                        <span class="input-group-btn">
                                            <button class="btn btn-lg" type="button">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-head-basket-section">
                    <div class="nav-contact-phones-list-wrapper">
                        <div class="nav-contact-phones-inner-wrapper">
                            <div class="nav-contact-phone main-blue">+380 (67) 412-73-53</div>
                            <div class="nav-contact-phone main-blue">+380 (63) 318-16-00</div>
                            <div class="nav-contact-phone main-blue">+380 (50) 337-37-71</div>
                        </div>
                        <div class="nav-callback-link">
                            <a>Перезвонить мне!</a>
                        </div>
                    </div>
                    <div class="nav-basket-wrapper">
                        <a class="basket-image"></a>
                            <span class="basket-number-wrapper">
                                1
                            </span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="navbar-head-bottom-section-wrapper">
        <a class="head-bottom-navbar-item" href="#">наборы</a>
        <a class="head-bottom-navbar-item" href="#">кольца</a>
        {#<a class="head-bottom-navbar-item" href="#">цепи и браслеты</a>#}
        <span class="head-bottom-navbar-item custom-dropdown-item">
                <a href="#" class="custom-dropdown-toggle" >цепи и браслеты</a>
                <ul class="custom-dropdown-menu">
                    <li><a href="">подвес</a></li>
                    <li><a href="">церковная  тематика</a></li>
                    <li><a href="">зодиак</a></li>
                    <li><a href="">обереги</a></li>
                </ul>
            </span>
        <a class="head-bottom-navbar-item" href="#">подвесы</a>
        <a class="head-bottom-navbar-item" href="#">аксессуары</a>
        <a class="head-bottom-navbar-item" href="#">серьги</a>
        <a class="head-bottom-navbar-item" href="#">пирсинг</a>
        {#<a class="head-bottom-navbar-item" href="#">пандора</a>#}
        {#<a class="head-bottom-navbar-item" href="#">золото</a>#}
        <span class="head-bottom-navbar-item custom-dropdown-item">
                <a href="#" class="custom-dropdown-toggle" >пандора</a>
                <ul class="custom-dropdown-menu">
                    <li><a href="">подвес</a></li>
                    <li><a href="">церковная  тематика</a></li>
                    <li><a href="">зодиак</a></li>
                    <li><a href="">обереги</a></li>
                </ul>
            </span>
            <span class="head-bottom-navbar-item custom-dropdown-item">
                <a href="#" class="custom-dropdown-toggle" >золото</a>
                <ul class="custom-dropdown-menu">
                    <li><a href="">подвес</a></li>
                    <li><a href="">церковная  тематика</a></li>
                    <li><a href="">зодиак</a></li>
                    <li><a href="">обереги</a></li>
                </ul>
            </span>
    </div>
    <div class="mobile-menu-content-wrapper">
        <div class="mobile-menu-content-button">
            <button type="button" class="head-mobile-button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <ul class="fixed-mobile-nav">
            <li><a href="#">о нас</a></li>
            <li><a href="#">новости</a></li>
            <li><a href="#">доставка</a></li>
            <li><a href="#">оплата</a></li>
            <li><a href="#">отзывы</a></li>
            <li><a href="#">контакты</a></li>
        </ul>
    </div>
</div>