<h2>Новости</h2>
<div class="index-news-item-outer-wrapper">
    <div class="col-lg-3 col-md-3 col-sm-3 news-item-wrapper no-padding">
        <div class="news-preview-image">
            <div class="news-preview-outer-wrapper">
                <div class="news-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/no-image.png") }}">
                </div>
            </div>
        </div>
        <div class="news-image-subscription">03.06.2016</div>
        <h3>
            <span class="news-item-title">Первая новость</span>
        </h3>
        <div class="news-item-shortcut">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, book. It has survived not only five
        </div>
        <div class="news-item-more-link">
            <a>
                Ознакомится с новостью
            </a>
        </div>
    </div>
    {#////////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}
    <div class="col-lg-3 col-md-3 col-sm-3 news-item-wrapper no-padding">
        <div class="news-preview-image">
            <div class="news-preview-outer-wrapper">
                <div class="news-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/news-preview-example.png") }}">
                </div>
            </div>
        </div>
        <div class="news-image-subscription">03.06.2016</div>
        <h3>
            <span class="news-item-title">Новость</span>
        </h3>
        <div class="news-item-shortcut">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, book. It has survived not only five
        </div>
        <div class="news-item-more-link">
            <a>
                Ознакомится с новостью
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 news-item-wrapper no-padding">
        <div class="news-preview-image">
            <div class="news-preview-outer-wrapper">
                <div class="news-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/no-image.png") }}">
                </div>
            </div>
        </div>
        <div class="news-image-subscription">03.06.2016</div>
        <h3>
            <span class="news-item-title">Новость</span>
        </h3>
        <div class="news-item-shortcut">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, book. It has survived not only five
        </div>
        <div class="news-item-more-link">
            <a>
                Ознакомится с новостью
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 news-item-wrapper no-padding">
        <div class="news-preview-image">
            <div class="news-preview-outer-wrapper">
                <div class="news-preview-inner-wrapper">
                    <img src="{{ asset("bundles/sitefrontend/images/main/news-preview-example.png") }}">
                </div>
            </div>
        </div>
        <div class="news-image-subscription">03.06.2016</div>
        <h3>
            <span class="news-item-title">Новость Новость Новость Новость Новость Новость</span>
        </h3>
        <div class="news-item-shortcut">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, book. It has survived not only five
        </div>
        <div class="news-item-more-link">
            <a>
                Ознакомится с новостью
            </a>
        </div>
    </div>
</div>