DirectoryIndex app.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^www.uvelife.com$ [NC]
    RewriteRule ^(.*)$ https://uvelife.com/$1 [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]

    RewriteCond %{QUERY_STRING} ^page=1$
    RewriteRule ^/?category/podvieski https://uvelife.com/category/podvieski? [L,R=301]
</IfModule>