.log_in {
    max-width: 415px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.admin {
    margin: 60px auto;
}

form .a2lix_translationsLocales li { background-color: #ffffff; }
.hidden-fields
{
    display: none !important;
}
.offset-1{
    margin-top:15px;
    margin-bottom:15px;
}
.min-height-500{
    min-height:500px;
}
#upbeat-user-menu{
    width:auto;
}
.pattern-generate-cover-btn
{
    line-height: 2.3em;
    margin-left: 3em;
}
.displayNone{
    display:none;
    width:0;
    height:0;
}
.loader-gif
{
    display:none;
}
.loader-gif img
{
    width:30px;
    height:auto;
}
.loader-background {
    background: url("../images/bg-popup-new.png");
    height: 100%;
    max-width: 100%;
    width: 100%;
    z-index: 99999;
    position: fixed;
    top:0;
    left:0;
    opacity:0.6;
}
.box-header{
    cursor:pointer;
}
.sonata-ba-collapsed-fields img{
    max-width: 100%;
}
body .image-container img{
    max-width: unset;
}
.UploadButton,
.cropButton,
.delete-button{
    margin-top:10px;
    margin-left:5px;
}
.tag-show{
    color:#fff;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: lightblue;
}
/***********************    add TAGS style   *******************************************/
.select2-container-multi.multiSelect .select2-choices .select2-search-choice{
    background-color: lightgray;
    color: #fff;
    padding: 5px 20px;
}
.select2-container-multi.multiSelect .select2-choices .select2-search-choice .select2-search-choice-close {
    margin-top: -6px;
    top: 50%;
}
.patternTags .box-body li{
    display: inline-block;
    width: 220px;
    margin-right: 20px;
}
select,
textarea,
input[type="text"], input[type="password"]
input[type="datetime"],
input[type="datetime-local"],
input[type="date"], input[type="month"],
input[type="time"], input[type="week"],
input[type="number"], input[type="email"],
input[type="url"], input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    height:unset;
}
.modal-message-text{
    padding:20px;
}
.message-modal-dialog{
    display: none;
    z-index: 1050;
    position:fixed;
    top:150px;
    left:50px;

}
.treeview a span
{
    width: 150px;
    display: inline-block;
}
.treeview a i{
    font-size: 15px;
}
.right{
    float:right;
}
.left{
    float:left;
}
.inline-block{
    display: inline-block;
}
.align-center{
    text-align: center;
}
.display-none{
    display:none;
}
.cursor-normal[readonly]{
    cursor: default;
}
.xml-load-submit{
    line-height: 34px;
    padding: 6px 20px;
}
.product-mosaic-image{
    margin-top:-50px;
}
table.sonata-ba-list img.poster-img{
    height:80px;
    width: auto;
}
.inline-block{
    display: inline-block;
}