.log_in {
    max-width: 415px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.admin {
    margin: 60px auto;
}

form .a2lix_translationsLocales li { background-color: #ffffff; }
.hidden-fields
{
    display: none !important;
}
.offset-1{
    margin-top:15px;
    margin-bottom:15px;
}
.min-height-500{
    min-height:500px;
}
#upbeat-user-menu{
    width:auto;
}
.pattern-generate-cover-btn
{
    line-height: 2.3em;
    margin-left: 3em;
}
.displayNone{
    display:none;
    width:0;
    height:0;
}
.loader-gif
{
    display:none;
}
.loader-gif img
{
    width:30px;
    height:auto;
}
.loader-background {
    background: url("../images/bg-popup-new.png");
    height: 100%;
    max-width: 100%;
    width: 100%;
    z-index: 99999;
    position: fixed;
    top:0;
    left:0;
    opacity:0.6;
}
.box-header{
    cursor:pointer;
}
.sonata-ba-collapsed-fields img{
    max-width: 100%;
}
body .image-container img{
    max-width: unset;
}
.UploadButton,
.cropButton,
.delete-button{
    margin-top:10px;
    margin-left:5px;
}
.tag-show{
    color:#fff;
    padding: 5px 10px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: lightblue;
}
/***********************    add TAGS style   *******************************************/
.select2-container-multi.multiSelect .select2-choices .select2-search-choice{
    background-color: lightgray;
    color: #fff;
    padding: 5px 20px;
}
.select2-container-multi.multiSelect .select2-choices .select2-search-choice .select2-search-choice-close {
    margin-top: -6px;
    top: 50%;
}
.patternTags .box-body li{
    display: inline-block;
    width: 220px;
    margin-right: 20px;
}
select,
textarea,
input[type="text"], input[type="password"]
input[type="datetime"],
input[type="datetime-local"],
input[type="date"], input[type="month"],
input[type="time"], input[type="week"],
input[type="number"], input[type="email"],
input[type="url"], input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    height:unset;
}
.modal-message-text{
    padding:20px;
}
.message-modal-dialog{
    display: none;
    z-index: 1050;
    position:fixed;
    top:150px;
    left:50px;

}
.treeview a span
{
    width: 150px;
    display: inline-block;
}
.treeview a i{
    font-size: 15px;
}
.right{
    float:right;
}
.left{
    float:left;
}
.inline-block{
    display: inline-block;
}
.align-center{
    text-align: center;
}
.display-none{
    display:none;
}
.cursor-normal[readonly]{
    cursor: default;
}
.xml-load-submit{
    line-height: 34px;
    padding: 6px 20px;
}
.product-mosaic-image{
    margin-top:-50px;
}
table.sonata-ba-list img.poster-img{
    height:80px;
    width: auto;
}
.inline-block{
    display: inline-block;
}
/******************************************Order-Edit******************************************************************/
.form-item-element input,
.form-item-element textarea{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-item-element textarea{
    min-height: 100px;
}
.order-collection-title{
    text-align: center;
    font-size: 17px;
    font-family: Georgia;
}
.poster-outer-wrapper{
    position: relative;
    width :230px;
    height: 230px;
    overflow: hidden;
}
.poster-inner-wrapper{
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -500px;
    line-height: 1000px;
    vertical-align: middle;
    text-align: center;
}
.poster-inner-wrapper img{
    display: inline-block;
    min-width: 230px;
    min-height: 230px;
    max-height: 400px;
}
.item-title h5{
    font-size: 14px;
    font-family: Georgia;
    text-transform: uppercase;
    color: #737373;
}
.index-product-old-price::after {
    content: "";
    height: 1px;
    background-color: rgba(238,93,89,0.7);
    width: 80%;
    left: 15%;
    position: absolute;
    top: 50%;
}
.index-product-old-price {
    font-size: 14px;
    font-family: Georgia;
    line-height: 12px;
    position: relative;
    color: #D0DBE2;
    padding: 0 5px;
}
.index-product-new-price {
    color: #EE5D59;
    font-size: 28px;
    font-family: Georgia;
    line-height: 30px;
}
.index-product-regular-price {
    width: 100%;
    text-align: center;
    color: #1C1C1B;
    font-size: 28px;
    font-family: Georgia;
    line-height: 30px;
    display: inline-block;
    margin-top: 15px;
}
.index-product-new-price, .index-product-old-price {
    margin-left: 20px;
    display: block;
    text-align: center;
}
.sonata-ba-collapsed-fields .form-item-collection-element +.form-item-collection-element{
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.final-price-wrapper{
    border-top: 2px solid #2489C5;
    margin-top: 20px;
    margin-bottom: 50px;
}
.final-price-wrapper .final-price{
    float: right;
    font-size: 30px;
    font-family: Georgia;
    padding-right: 30px;
}
.final-price-wrapper .final-price:after{
    display: inline;
    content: "грн";
}
.code-wrapper{
    text-align: center;
    font-style: italic;
    font-size: 16px;
    color: #006FAB;
}
.display-none{
    display: none;
}
.sonata-action-element.add-set-to-order,
.sonata-action-element.add-product-to-order{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
    cursor: pointer;
}
.sonata-action-element.add-set-to-order i,
.sonata-action-element.add-product-to-order i
{
    margin-right: 10px;
}
.sonata-action-element.add-set-to-order:hover,
.sonata-action-element.add-product-to-order:hover
{
    background-color: #f5f5f5;
}
/**************************************end-Order-Edit******************************************************************/
/* start .squared-one */
.squared-one input{
    display: none;
}
.squared-one{
    position: relative;
    font-size: 17px;
}
.squared-one label{
    padding-left:20px;
    font-family: MullerRegular;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    padding-top: 10px;
}
.squared-one label:before{
    width:15px;
    height: 15px;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid black;
    left:0;
    top:12px;
    content: "";
}
.squared-one label:after{
    width:15px;
    height: 15px;
    position: absolute;
    z-index: 2;
    left:0;
    top:12px;
    background: transparent;
    color: transparent;
    content: "\f00c";
    font: normal normal normal 15px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.squared-one label:hover:before{
    border: 1px solid #006FAB;
}
.squared-one label:hover{
    color:#006FAB;
}
.squared-one input[type=checkbox]:checked+ label:before{
    border: 1px solid #006FAB;
}
.squared-one input[type=checkbox]:checked+ label:after{
    color: #006FAB;
}
.squared-one input[type=checkbox]:checked+ label{
    color:#006FAB;
}
/* end .squared-one */
/**************************************modal**************************************************************************/
body.body-no-scroll{
    width:100%;
    height:100%;
    overflow: hidden!important;
}
.modal-shaddow{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.modal-shaddow.active{
    display: block;
}
.modal-shaddow:after{
    content: "";
}
.modal-loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100000;
    display: none;
}
.modal-loader:before{
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    content: "";
    background-image: url("../images/loader.svg");
    background-size: 100% auto;
    background-position: 0 0;
    z-index: 100001;
    opacity: 0;
}
.modal-loader.active{
    display: block;
}
.modal-loader.active:before{
    opacity: 1;
}
.modal-body-wrapper{
    width: 1170px;
    height: 600px;
    background-color: #fff;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -585px;
    border-radius: 5px;
    z-index: 100002;
    display: none;
}
.modal-body-wrapper.active{
    display: block;
}
.select2-drop {
    z-index: 100004;
}
.modal-close-wrapper{
    text-align: right;
    border-bottom: none;
}
.modal-close{
    cursor: pointer;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 30px;
}
.modal-content{
    width: 1000px;
    margin: 0 auto;
    height: 550px;
    overflow: hidden;
    box-shadow: none;
}

.modal-form-item-wrapper{
    margin: 10px;
    position: relative;
}
.modal-form-item-wrapper:after{
    display: block;
    clear: both;
    content: "";
}
.modal-poster{
    width: 100px;
    height:100px;
}
.modal-poster .poster-inner-wrapper img{
    min-height: 100px;
    min-width: 100px;
    max-height: 150px;
}
.default-button {
    width: 120px;
    margin-left: 5%;
    height: 30px;
    background-color: #006EAA;
    color: #fff;
    text-transform: uppercase;
    line-height: 34px;
    font-family: MullerExtraBold;
    font-size: 9px;
    border-radius: 3px;
    display: inline-block;
    border: none;
}
.submit-wrapper{
    text-align: right;
    padding-right: 20px;
    margin: 20px 0 0;
}
.items-list{
    height :400px;
    width: 989px;
    overflow-y: scroll;
}
.order-add-product-category{
    width: 100%;
}
/**************************************end-modal***********************************************************************/
/**************************************plus and minus******************************************************************/
.index-product-input {
    margin-top: 20px;
    float: left;
    width: 100px;
}
body .index-product-input {
    height: 32px;
    padding: 0 5px;
}
.plus-minus-wrapper {
    height: 32px;
    display: block;
    width: 20px;
    overflow: hidden;
    float: left;
}
.number-input-wrapper {
    width: 45px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #006EAA;
    overflow: hidden;
    margin: 0 2px;
    background-color: #fff;
}
.minus, .plus {
    width: 20px;
    height: 20px;
    background-image: url("../images/plus-minus.svg");
    background-size: 200% auto;
    cursor: pointer;
    content: " ";
    margin-top: 7px;
}
.minus {
    background-position: 100% 20px;
}
.plus {
    background-position: 100% 0;
}
.plus, .minus, .number-input-wrapper {
    display: block;
    float: left;
}
.number-input-wrapper input {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    line-height: 17px;
    font-family: Georgia;
    height: 26px;
    outline: 0;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: #006EAA;
    margin: 0;
    padding: 0;
}
.set-item-number .index-product-input{
    float:right;
    margin-right: 40px;
}
.datetime-input{
    width: 240px;
}
.order-payment-and-delivery-item-wrapper,
.delivery-item{
    margin-bottom: 10px;
}
.order-payment-and-delivery-item-wrapper label,
.delivery-item label{
    display: block;
    margin: 10px 0 0;
}
.order-payment-and-delivery-item-wrapper select,
.delivery-item select{
    width: 100%;
    display: block;
    border: 1px solid #CCCCCC;
}
.order-payment-and-delivery-item-wrapper select option,
.delivery-item select option{
    height: 30px;
    line-height: 32px;
}
.order-payment-and-delivery-item label{
    display: block;
}
.order-payment-and-delivery-item textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.top-head-block-child{
    width: 200px;
    text-align: center;
    display: inline-block;
    color: #fff;
    margin-left: 15px;
}
.block-child-body-blue, .block-child-body-blue-order {
    background-color: #AFA1EC;
}
.block-child-href-blue {
    background-color: #8971F1;
}
.block-child-body-title, .block-child-body-title-order {
    font-family: 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
}
.top-head-block-child-href a{
    color: #fff;
}
.block-child-body-content{
    font-size: 16px;
}
.top-head-block-child-href a:focus{
    color: #fff;
    outline: 0;
}
.block-child-body-pink {
    background-color: #ECA1A1;
}
.block-child-href-pink {
    background-color: #F17171;
}
.block-child-body-green, .block-child-body-green-order {
    background-color: #AFCEA1;
}
.block-child-href-green {
    background-color: #89BE71;
}
.top-block-wrapper{
    margin-top: 20px;
}